//This file you will create your style for inputs inside of the project
input{
    font-size: $font-x-small ;
    color: $smoky-black;
    padding: 0.5rem 1rem;
    width: 80%;
    font-size: $font-small;
}