
h1{
    margin-block-start:0;
    margin-block-end:0;
    font-size: $font-xx-large;
    font-family: $font-oldstand;
    font-weight: $font-bold;
    text-align: left;
    @include point_df-break($break_tablet){
        font-size: $font-xxx-large;
    }
}

h3{
    margin-block-start: 0;
    margin-block-end: 0.5rem;
    font-size: $font-xx-large;
    font-weight: $font-regular;
    color: $white;
}

h4{
    margin-block-start: 1rem;
    font-family: $font-relawey;
    color: $isabelline;
    font-size: $font-x-small;
}

p {
    font-size: $font-large;
    font-family: $font-oldstand;
    font-weight: $font-regular;
    text-align: left;
    color: $granite-gray;
    line-height: 1.5rem;

}